.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.notFound__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 97px;
  text-align: center;
  color: #000;
}

.notFound__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000;
}

.notFound__btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3456F3;
}
