.preloader {
  min-height: 130px;
  max-width: 1140px;
  padding: 50px 0 80px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.preloader__btn {
  min-width: 240px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid #E8E8E8;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  background: transparent;
  transition: opacity .3s ease-in-out;
}

.preloader__btn:hover {
  opacity: .6;
}

@media screen and (min-width: 560px) {
  .preloader__btn {
    min-width: 320px;
  }
}
