.header {
  min-height: 74px;
  margin: 0 14px;
  padding: 0;
  display: flex;
  align-items: center;
  transition: opacity .3s ease-in-out;
}

.header__logo:hover {
  opacity: .6;
}

.header__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #000;
  text-decoration: none;
  padding: 0 8px;
  margin: 0;
  transition: opacity .3s ease-in-out;
}

.header__link:hover {
  opacity: .6;
}

@media screen and (min-width: 480px) {
  .header {
    min-width: 440px;
    margin: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    min-width: 668px;
    margin: 0 30px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    min-width: 884px;
    margin: 0 70px;
  }
}
