.header {
  min-height: 74px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 74px minmax(24px, 1fr) minmax(24px, 1fr);
  align-items: center;
  justify-content: space-between;
  background-color: rgb(134, 186, 214);
}

.header__logo {
  align-items: flex-start;
}

.header__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #000;
  text-decoration: none;
  padding: 0 8px;
  margin: 0;
}

.header__link_buttnon {
  /* height: 32px;
  width: 100px; */
  border-radius: 20px;
  background-color: #F9F9F9;
}

.header__link:hover {
  opacity: .6;
}
