.footer {
  padding: 0 0 10px;
  margin: 0 auto;
}

.footer__header {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  padding: 80px 0 20px;
  margin: 0 auto;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #A0A0A0;
  padding: 30px 0 0;
  margin: 0 auto;
}

.footer__info{
  border-top: 1px solid #E8E8E8;
  padding: 30px 0 0;
}

.footer__container-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  transition: opacity .3s ease-in-out;
}

.footer__link {
  padding-bottom: 12px;
}

.footer__link:nth-last-child(1) {
  padding-bottom: 0;
}

.footer__link:hover  {
  opacity: .6;
}

@media screen and (min-width: 480px) {
  .footer {
    padding: 0 0 20px;
  }

  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__link:nth-child(1) {
    padding-bottom: 0;
  }

  .footer__container-link {
    flex-direction: row;
  }

  .footer__link {
    padding: 0 20px 0 0;
  }

  .footer__link:nth-last-child(1) {
    padding: 0;
  }

  .footer__copyright {
    display: block;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    margin-left: 0;
    padding: 0;
  }

  .footer__info{
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 -20px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 0 20px;
    max-width: 1140px;
    margin: 0;
  }
}
