.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.access__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access__logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
}

.access__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000;
  margin: 0;
  padding: 50px 0 80px 0;
}

.access-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40vh;
}

.access-form__text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin: 0;
  padding: 0;
}

.access-form__input {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  background-color: #fff;
  min-width: 100%;
  min-height: 26px;
  padding: 10px 0;
  box-sizing: border-box;
}

.access-form__input:focus {
  outline:none;
  border-bottom: 1px solid #3456F3;
}

.access-form__text-error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
  padding-top: 6px;
  min-height: 12px;
  display: block;
}

.access-form__btn-submit {
  width: 100%;
  height: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFF;
  background: #3456F3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.access-form__btn-submit:hover {
  opacity: .6;
}

.btn-err {
  width: max-content;
  margin: 0 auto;
  padding: 0 0 6px 0;
}

.access__text-forLink {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  padding: 14px 0;
}

.access__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3456F3;
  margin: 0;
  padding: 14px 0 14px 7px;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.access__link:hover {
  opacity: .6;
}

@media screen and (min-width: 560px) {
  .access__container {
    width: 396px;
  }

  .access-form {
    width: 100%;
  }

  .access-form__btn-submit {
    font-size: 14px;
    line-height: 17px;
  }

  .access__text-forLink {
    font-size: 14px;
    line-height: 17px;
    padding: 16px 0;
  }

  .access__link {
    font-size: 14px;
    line-height: 17px;
    padding: 16px 0 16px 6px;
  }

  .access__header {
    align-self: flex-start;
    align-items: flex-start;
  }
}
